.weather-card {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

.weather-card__link {
  text-decoration: none;
}

.weather-card__body {
  background-color: #8175c7;
  border-radius: 4px 4px 0 0;
  color: #fff;
  text-align: center;
}

.weather-card__body-container {
  display: flex;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.weather-card__city, .weather-card__temp {
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 2rem;
  font-weight: 300;
}

.weather-card__weather-icon {
  font-size: 4rem;
}

.weather-card__temp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.weather-card__footer {
  padding: 20px 0;
  color: #74829C;
  display: grid;
  grid-template-columns: auto auto;
}

.weather-card__detail {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  line-height: 1.5;
}

.weather-card__detail:last-of-type {
  border: 0;
}

.weather-card__detail-title {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}

.weather-card__detail-value {
  font-size: 13px;
}
